@keyframes animName {
    20% {
        font-family: Upheaval;
    }
    40% {
        font-family: Kremlin;
    }
    60% {
        font-family: "Cream Cake";
    }
    80% {
        font-family: Coolvetica;
    }
}

@keyframes animWelcome {
    100% {
        opacity: 1;
    }
}

#prenom
{
    animation: animName 3s infinite;
    letter-spacing: 5px;
    font-size: 50px;
    padding: 20px 40px;
}

#welcome
{
    display: flex;
    align-items: center;
    animation: animWelcome 2s forwards;
    opacity: 0;
    width: 70%;
    height: 35vh;
    background-image: linear-gradient(
        to right,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0)
    );
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 5%;
}

#intro
{
    font-family: "Louis Georges Café";
    line-height: 30px;
    padding-left: 30px;
}

#vid
{
    background: linear-gradient(
        to bottom,
        transparent,
        white
    );
}