@font-face {
    font-family: Coolvetica;
    src: url(../fonts/coolvetica\ rg.ttf);
}

@font-face {
    font-family: "Louis Georges Café";
    src: url(../fonts/Louis\ George\ Cafe.ttf);
}

@font-face {
    font-family: Upheaval;
    src: url(../fonts/upheavtt.ttf);
}

@font-face {
    font-family: Kremlin;
    src: url(../fonts/kremlin.ttf);
}

@font-face {
    font-family: "Cream Cake";
    src: url(../fonts/Cream\ Cake.otf);
}

@font-face {
    font-family: Romelio;
    src: url(../fonts/Romelio.ttf);
}

@font-face {
    font-family: "Artisual Deco";
    src: url(../fonts/ArtisualDecoRegular_PERSONAL_USE_ONLY.otf);
}

@keyframes animLogo {
    0% {
        color: white;
        font-size: 26px;
    }
    100% {
        color: gold;
        font-size: 34px;
    }
}

@keyframes animButton {
    0% {
        background-color: rgba(0,0,0,0);
    }
    100% {
        background-color: #333333;
        color: gold;
    }
}

*
{
    margin: 0;
    padding: 0;
}

header
{
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-items: center;
}

footer
{
    background-color: #252525;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
}

#logo
{
    font-family: Coolvetica;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 26px;
    padding: 10px;
}

#logo:hover
{
    animation: animLogo 1s forwards;
}

header a
{
    text-decoration: none;
    color: white;
}

#buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Louis Georges Café";
    font-weight: 100;
}

#buttons a
{
    text-align: center;
    width: 100px;
    height: 100%;
    padding: 10px;
}

#buttons a:hover
{
    animation: animButton 1s forwards;
}

video
{
    width: 100%;
}

footer
{
    font-family: "Louis Georges Café";
    color: white;
    font-weight: 100;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer a
{
    text-decoration: none;
    color: gold;
}

footer ul
{
    list-style: none;
}

footer a:hover
{
    color: goldenrod;
}

#contact
{
    display: flex;
    flex-direction: row;
}

#contactlist
{
    text-align: center;
    margin-bottom: 10px;
    margin-left: 20px;
}

#perso
{
    margin-right: 15px;
}

#ecole
{
    margin-left: 15px;
}

#legal-mentions
{
    color: rgb(107, 107, 107);
    text-align: center;
    width: 50%;
    align-self: center;
}